<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youkeda.notebook.service.noteBook.mapper.PictureMapper" >
    <sql id="columnName">
		a.picture_id AS "pictureId",
		a.used_id AS "usedId",
		a.picture_url AS "pictureUrl",
		a.picture_info AS "pictureInfo",
		a.sob_id AS "sobId",
		a.create_id AS "createId",
		a.create_name AS "createName",
		a.create_time AS "createTime",
		a.create_post_id AS "createPostId",
		a.create_post_name AS "createPostName",
		a.update_post_id AS "updatePostId",
		a.update_post_name AS "updatePostName",
		a.update_id AS "updateId",
		a.update_name AS "updateName",
		a.update_time AS "updateTime",
		a.flag AS "flag",
		a.is_success AS "isSuccess",
		a.success_code AS "successCode",
		a.token AS "token"
	</sql>

    <!-- 新增     -->
    <insert id="insertPicture" parameterType="com.youkeda.notebook.service.noteBook.entity.PictureEntity">
        INSERT INTO
        K_PICTURE        (
			picture_id , 
			used_id , 
			picture_url , 
			picture_info , 
			sob_id , 
			create_id , 
			create_name , 
			create_time , 
			create_post_id , 
			create_post_name , 
			flag , 
			<if test="isSuccess != null and isSuccess !='' ">  is_success , </if>
			<if test="successCode != null and successCode !='' ">  success_code , </if>
			token 
        )
        VALUES
        (
	          #{pictureId}, 
	          #{usedId}, 
	          #{pictureUrl}, 
	          #{pictureInfo}, 
			 #{sobId}, 
			 #{createId}, 
			 #{createName}, 
			 now(), 
			 #{createPostId}, 
			 #{createPostName}, 
			 0, 
			<if test="isSuccess != null and isSuccess !='' "> #{isSuccess}, </if>
			<if test="successCode != null and successCode !='' "> #{successCode}, </if>
			 #{token}
        )
    </insert>

    <update id="updatePicture" parameterType="com.youkeda.notebook.service.noteBook.entity.PictureEntity">
        update
        K_PICTURE        set
			<if test="pictureId != null and pictureId !='' "> picture_id = #{pictureId}, </if>
			<if test="usedId != null and usedId !='' "> used_id = #{usedId}, </if>
			<if test="pictureUrl != null and pictureUrl !='' "> picture_url = #{pictureUrl}, </if>
			<if test="pictureInfo != null and pictureInfo !='' "> picture_info = #{pictureInfo}, </if>
			<if test="flag != null and flag !='' "> flag = #{flag}, </if>
			<if test="token != null and token !='' "> token = #{token}, </if>
			update_id = #{updateId},
			update_name = #{updateName},
			update_post_id = #{updatePostId},
			update_post_name = #{updatePostName},
			update_time = now()
        where
        1=1
            and picture_id= #{pictureId}
         	and token= #{oldToken}
    </update>

    <!-- 查询 -->
    <select id="listPicture" parameterType="com.youkeda.notebook.service.noteBook.entity.PictureEntity"
            resultType="com.youkeda.notebook.service.noteBook.entity.PictureEntity">
        SELECT
        <include refid="columnName" />
        FROM
        K_PICTURE a
        where
            1=1
     <if test="pictureId != null and pictureId  !='' ">and a.picture_id = #{pictureId}</if>
     <if test="usedId != null and usedId  !='' ">and a.used_id = #{usedId}</if>
     <if test="pictureUrl != null and pictureUrl  !='' ">and a.picture_url = #{pictureUrl}</if>
     <if test="pictureInfo != null and pictureInfo  !='' ">and a.picture_info = #{pictureInfo}</if>
		<if test="sobId != null and sobId  !='' ">and a.sob_id = #{sobId}</if>
     	<choose>  
            <when test='flag !=null and flag !="all"  '>  
                and a.flag=#{flag}
            </when > 
            <when test='flag !=null and flag =="all" '>  
            </when >   
            <otherwise>
            	and a.flag=0  
            </otherwise>  
        </choose>   
        order by a.create_time desc
    </select>

    <!--查询一条  -->
    <select id="queryPictureById" parameterType="com.youkeda.notebook.service.noteBook.entity.PictureEntity"
            resultType="com.youkeda.notebook.service.noteBook.entity.PictureEntity">
        SELECT
        <include refid="columnName"/>
        FROM
        K_PICTURE a
        WHERE
        1=1
     <if test="pictureId != null and pictureId  !='' ">and a.picture_id = #{pictureId}</if>
     <if test="usedId != null and usedId  !='' ">and a.used_id = #{usedId}</if>
     <if test="pictureUrl != null and pictureUrl  !='' ">and a.picture_url = #{pictureUrl}</if>
     <if test="pictureInfo != null and pictureInfo  !='' ">and a.picture_info = #{pictureInfo}</if>
		<if test="sobId != null and sobId  !='' ">and a.sob_id = #{sobId}</if>
		
     	<choose>  
            <when test='flag !=null and flag !="all"  '>  
                and a.flag=#{flag}
            </when > 
            <when test='flag !=null and flag =="all" '>  
            </when >   
            <otherwise>
            	and a.flag=0  
            </otherwise>  
        </choose>   
    </select>
</mapper>
